body {
    background-color: rgb(83, 83, 250);
    color: white;
}

.div1 {
    font-size: 20px;
}

.div2 {
    font-size: 30px;
}

.div3 {
    font-size: 40px;
}

.caixa1 {
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 5px solid white;
    margin: 20px;
}

.lista {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}